/*=FUENTES
---------------------------------------------*/
@font-face {
    font-family:"roboto";
    src: url("../fonts/Roboto-Light.ttf");
}
/*=COLORES
---------------------------------------------*/
:root{
    --rosa: #F197CD;
    --amarillo: #FEFD97;
    --carne: #FEC9A7;
    --azul: #C5EDFE;
    --morado: #AA93DF;
    --blanco: white;
    --azulF: #505B73;
    --azulHover: #6175a0;
}
body{
    background-color: #F1EFE3;
}
/* =NAV -------------------------------------------------- */
.barra{
    font-size:22px;
    color: white;
}
#COYO{
    color: white;
    font-size:29px;
    margin-bottom: 0%;
}
i
{
    color: white;
}
#footer{
    position: absolute;
    background-color: #505B73;
    width: 100%;
    bottom: 0%;
    color: white;
    font-family: 'roboto';
    text-align: center;
}
/*=MEDIA QUERY}
---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){

    /* =NAV
    -------------------------- */
        #hamburguesa{
            align-self: flex-end;
            justify-content: center;
            height: 50px;
            width: 50px;
            display: flex;
            color: white;
        }
        #hamburguesa:hover{
            background-color: transparent;
        }
        .nav{
            height: 250px;
            align-items: center;
            font-size: 1.2rem;
        }
        .nav{
            flex-direction: column;
        }
        .link{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbarMob
        {
            height: 50px;
        }
        .barraNMob
        {
            display: none;
        }
    }