/*=FUENTES
---------------------------------------------*/
@font-face {
    font-family:"roboto";
    src: url("../fonts/Roboto-Light.ttf");
}
/*=COLORES
---------------------------------------------*/
:root{
    --rosa: #F197CD;
    --amarillo: #FEFD97;
    --carne: #FEC9A7;
    --azul: #C5EDFE;
    --morado: #AA93DF;
    --blanco: white;
    --azulF: #505B73;
    --azulHover: #6175a0;
}
body{
    font-family: Roboto, sans-serif;
    background-color: #F1EFE3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.placeholdrojo::placeholder{
    color: red;
}
.placeholdmorado::placeholder{
    color: var(--morado);
}
/* =NAV -------------------------------------------------- */
.nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: var(--azulF);
}
.link{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /*=justify-self: flex-end;*/
}
.link:hover{
    background-color:  var(--azulHover);
}
#footer{
    bottom: 100%;
    font-family: "roboto";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--azulF);
    color: white;
}
#hamburguesa
{
    display: none;
}
/*=MEDIA QUERY}
---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){

    /* =NAV
    -------------------------- */
        #hamburguesa{
            align-self: flex-end;
            justify-content: center;
            display: flex;
            color: rgb(255, 255, 255);
            position: absolute;
            top: 0.5%;
            right: 1%;
        }
        #hamburguesa:hover{
            background-color: transparent;
        }
        .nav{
            height: 250px;
            align-items: center;
            font-size: 1.2rem;
        }
        .nav,.navbarMob{
            flex-direction: column;
        }
        div .link{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbarMob
        {
            height: 50px;
        }
        .barraNMob
        {
            display: none;
        }
    }
