*{
    font-family: 'roboto';
}
/* =NAV -------------------------------------------------- */
.nav a{
    display: flex;
    flex-direction: row;
    /*=justify-content: end;*/
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 1.2rem;
}
.nav div#tit
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
#log
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
 /*--------------- Búsqueda -------------*/
 #izquierdo{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin-top: 3%;
    margin-left: 540px;
 }
 #lupa
 {
     height: 5%;
 }
 #buscador{
    width: 70%;
    border-radius: 8px;
 }
 #buscar{
    background-color: var(--carne);
    border-radius: 8px;
 }
 #filtros{
    margin-top: 20px;
    width: 10%;
 }
 #fecha,#horario,#materia,#modalidad,#medio{
     background-color: #C4C4C4;
     width: 107px;
     border-radius: 8px;
     border-color: transparent;
 }
 #horario,#materia,#modalidad,#medio{
     margin-left: 20px;
 }
 #footer{
    position: absolute;
    bottom: 0%;
    font-family: "roboto";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--azulF);
    color: white;
    width: 100%;
}
#cred
{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: white;
    background-color: transparent;
    text-decoration: underline;
    cursor:pointer;
    border: none;
}
#derecho{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin-left: 200px;
    margin-top: 50px;
}
#indica{
    background-color: var(--amarillo);
    width: 170px;
    border-radius: 8px;
    padding: 10px;
}
#filtros
{
    width: 80%;
    align-self: center;
}
select
{
    width: 12%;
}
.resultados
{
    width: 80%;
    height: 70%;
}
.resultados table{
    border-collapse: collapse;
    margin: auto;
    margin-left: 0%;
    align-self: center;
}
thead{
    background-color: var(--carne);
}
th
{
    width: 11%;
}
tbody{
    text-align: center;
    background-color: var(--carne);
}
#agendar{
    background-color: var(--azul);
    width: 170px;
    border-radius: 8px;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#cancelar{
    background-color: var(--azul);
    width: 170px;
    border-radius: 8px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*= ----------------- MODAL -------------------------*/
#mCreditos{
    display: none;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:auto;
}

.modal-contenidouser{
    background-color: white;
    width:max-content;
    height: max-content;
    padding-bottom: 10px;
    margin: 2% auto;
    position: relative;
    height: 600px;
    width: 800px;
    border-radius: 11px;
}

#modalhead{
    display: flex;
    align-items: center;
    background-color: var(--azul);
    height: 50px;
    border-radius: 11px;
}

#closeBtn{
    margin-left: 80%;
    color: var(--carne);
    cursor: pointer;
}
#modalcont
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
}
.card > div:nth-child(1){
    width: 50%;
    height: 50%;
    padding:5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
span{
    font-family: 'roboto';
    font-size: 18px;
    padding-left: 5px;
}

 .card p,h4{
    color: rgb(71, 68, 68);
}
.card h4
{
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.card p
{
    text-align:initial;
}

/*=ADAPTABILIDAD
---------------------------------------------*/
@media screen and (max-width: 1200px){
    #izquierdo{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-left: 13%;
        width: 90%;   
        height: 60%; 
        align-self: center;
    }
    #indica{
        display: none;
    }
    #derecho{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin-bottom: 5%;
        margin-left: 30%;
        width: 60%;    
        align-items: center;
        top: 0%;
    }
    #cancelar{
        padding-top: 10px;
        padding-bottom: 20px;
        height: 55px;
        margin-top: 71px;
        margin-left: 20px;
    }
    .resultados
    {
        overflow-y: scroll; 
        overflow-x: scroll;   
    }
    #footer{
        position: absolute;
        bottom: 0%;
        font-family: "roboto";
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: var(--azulF);
        color: white;
        width: 100%;
        position: fixed;
    }
     /*= ----------------- MODAL -------------------------*/
     #mCreditos{
        display: none;
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:1;
        pointer-events:auto;
    }

    .modal-contenidouser{
        background-color:white;
        padding-bottom: 10px;
        margin: 2% auto;
        position: relative;
        height: 90%;
        width: 70%;
        border-radius: 11px;
        font-size: 15px;
        overflow-y: scroll;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 50px;
        border-radius: 11px;
    }

    #closeBtn{
        margin-left: 75%;
        color: var(--carne);
        cursor: pointer;
    }
    #modalcont
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
    }
    .card{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        height: 50%;
        justify-self: center;
    }
    .card > div:nth-child(1){
        width: 50%;
        height: 15%;
        padding:5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    span{
        font-family: 'roboto';
        font-size: 30px;
        padding-left: 10px;
    }

    .card p,h4{
        color: rgb(71, 68, 68);
    }
    .card h4
    {
        text-align: center;
        background-color: lightsteelblue;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        font-size: 18px;
    }
    .card p
    {
        text-align:justify;
        font-size: 15px;
    }
}
@media screen and (max-width: 800px){
    #izquierdo{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        margin-left: 160px;
        margin-top: 120px;
     }
     #buscador{
        width: 300px;
        border-radius: 8px;
        height: 20px;
     }
     #buscar{
        background-color: var(--carne);
        border-radius: 8px;
        height: 20px;
        font-size: 12px;
     }
     #filtros{
        margin-top: 10px;
     }
     #fecha,#horario,#materia,#modalidad,#medio{
         background-color: #C4C4C4;
         width: 68px;
         border-radius: 8px;
         border-color: transparent;
         font-size: 10px;
     }
     #horario,#materia,#modalidad,#medio{
         margin-left: 2px;
     }
     #footer{
        position: absolute;
        bottom: 0%;
        font-family: "roboto";
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: var(--azulF);
        color: white;
        width: 100%;
    }
    #derecho{
        display: flex;
        flex-direction:column;
        flex-wrap:nowrap;
        margin-left: 150px;
        margin-top: -230px;
    }
    #indica{
        display: none;
    }
    #agendar{
        background-color: var(--azul);
        width: 170px;
        border-radius: 8px;
        margin-top: 70px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        padding-top: 5px;
    }
    #cancelar{
        background-color: var(--azul);
        width: 170px;
        border-radius: 8px;
        margin-top: 10px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        padding-top: 5px;
        margin-left: 0px;
    }
    /*= ----------------- MODAL -------------------------*/
    #mCreditos{
        display: none;
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:1;
        pointer-events:auto;
    }

    .modal-contenidouser{
        background-color:white;
        padding-bottom: 10px;
        margin: 2% auto;
        position: relative;
        height: 90%;
        width: 90%;
        border-radius: 11px;
        font-size: 15px;
        overflow-y: scroll;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 50px;
        border-radius: 11px;
    }

    #closeBtn{
        margin-left: 75%;
        color: var(--carne);
        cursor: pointer;
    }
    #modalcont
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
    }
    .card{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        height: 90%;
        justify-self: center;
    }
    .card > div:nth-child(1){
        width: 50%;
        height: 15%;
        padding:5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    span{
        font-family: 'roboto';
        font-size: 20px;
        padding-left: 5px;
    }

    .card p,h4{
        color: rgb(71, 68, 68);
    }
    .card h4
    {
        text-align: center;
        background-color: lightsteelblue;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .card p
    {
        text-align:justify;
    }
}
.inscribirse, .desinscribirse, .lleno, .eliminar{
    background-color: transparent;
    border: none;
}
.inscribirse:hover, .desinscribirse:hover, .eliminar:hover{
    cursor:pointer;
    background-color: var(--azul);
}
