 /* =NAV -------------------------------------------------- */
.nav a{
    display: flex;
    flex-direction: row;
    /*=justify-content: end;*/
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 1.2rem;
}
/*
.nav{
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: var(--azulF);
}
.link{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /*=justify-self: flex-end;
}
.link:hover{
    background-color:  var(--azulHover);
}*/
.nav div#tit
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
#log
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
 /* =PARTE IZQUIERDA*/
#izquierda{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    padding-top: 1%;
    padding-left: 4%;
}
#miPerfil{
    width: 30%;
    height: 350%;
    background-color: var(--azul);
    border-radius: 8px;
    font-family:"roboto";
}
#mi, #img{
    text-align: center;
    font-family:"roboto";
}
h4{
    padding-top: 4%;
    font-size: 16px;
}
#p1{
    font-size: 21px;
}
#azulitos{
    padding-top: 2%;
}

 /* =PARTE ARRIBA -------------------------------------------------- */
#arriba{
    width: 100%
}
#calificacion,#comentarios,#cerrar{
    width: 380%;
    background-color: var(--azul);
    border-radius: 8px;
    text-align: center;
    font-family:"roboto";
}
#cerrar{
    cursor: pointer;
}
#medio{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    position: absolute;
    left: 45%;
    bottom: 310px;
}
#materias{
    background-color: var(--morado);
    border-radius: 8px;
    width: 320px;
    text-align: center;
    font-family:"roboto";
    height: 170px;
    overflow-y: scroll;
}
#agregarm{
    background-color: var(--morado);
    border-radius: 8px;
    width: 302px;
    border-color: transparent;
    margin-top: 11px;
}
#eliminarm{
    background-color: var(--morado);
    border-radius: 8px;
    width: 302px;
    border-color: transparent;
    margin-top: 5%;
}
#aceptar{
    background-color: var(--morado);
    border-radius: 8px;
    height: 12px;
    width: 302px;
    padding-bottom: 25px;
    text-align: center;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 0%;
    cursor: pointer;
}
#abajo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    position: absolute;
    left: 45%;
    bottom: 10%;
    height: 30%;
}
#horarios{
    background-color: var(--carne);
    width: 299px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-family:"roboto";
}
#horitas{
    margin-top: 5%;
    background-color: var(--carne);
    width: 280px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-items:flex-start;
    padding-left: 5%;
}
#botonhor{
    background-color: var(--carne);
    cursor: pointer;
    border-radius: 8px;
    border-color: transparent;
}
#Horariodia, #Horariohora{
    background-color: var(--carne);
    border-color: transparent;
    margin-top: 5%;
    border-radius: 8px;
}
#Horariohora,#botonhor{
    margin-left: 15px;
}
#eliminarHorario{
    background-color: var(--carne);
    border-radius: 8px;
    border-color: transparent;
}
#derecha{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    position: absolute;
    left: 77%;
    bottom: 40%;
}
#rosado{
    background-color: var(--rosa);
    width: 60%;
    border-radius: 8px;
    font-family: 'roboto';
}
#amarillos{
    margin-top: 6%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
#am1,#am2,#am3{
    margin-top: 4%;
    background-color: var(--amarillo);
    width: 60%;
    border-radius: 8px;
    text-align: center;
}
#administrar{
    background-color: var(--amarillo);
    position: absolute;
    left: 69%;
    bottom: 34%;
    border-radius: 8px;
    text-align: center;
    font-family: 'roboto';
    padding-top: .5%;
}
#cred
{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: white;
    background-color: transparent;
    text-decoration: underline;
    cursor:pointer;
    border: none;
}
/*= ----------------- MODAL -------------------------*/
#mCreditos{
    display: none;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:auto;
}

.modal-contenidouser{
    background-color: white;
    width:max-content;
    height: max-content;
    padding-bottom: 10px;
    margin: 2% auto;
    position: relative;
    height: 600px;
    width: 800px;
    border-radius: 11px;
}

#modalhead{
    display: flex;
    align-items: center;
    background-color: var(--azul);
    height: 50px;
    border-radius: 11px;
}

#closeBtn{
    margin-left: 80%;
    color: var(--carne);
    cursor: pointer;
}
#modalcont
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
}
.card > div:nth-child(1){
    width: 50%;
    height: 50%;
    padding:5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
span{
    font-family: 'roboto';
    font-size: 18px;
    padding-left: 5px;
}

 .card p,h4{
    color: rgb(71, 68, 68);
}
.card h4
{
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.card p
{
    text-align:initial;
}

/*=ADAPTABILIDAD
---------------------------------------------*/
@media screen and (max-width: 1200px){
    #contenido{
        font-size: 7px;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #img2{
        height: 29px;
        width: 29px;
        font-size: 7px;
    }
    #izquierda{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        padding-top: 80px;
        padding-left: 12px;
    }
    #miPerfil{
        width: 200px;
        height: 230px;
        background-color: var(--azul);
        border-radius: 8px;
        font-family:"roboto";
    }
    #mi, #img{
        font-size: 14px;

    }
    h4{
        padding-top: 4px;
        font-size: 10px;
    }
    #p1{
        font-size: 10px;
    }
    #azulitos{
        padding-top: 2px;
    }
    #calificacion,#comentarios,#cerrar{
        width: 200px;
        background-color: var(--azul);
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #medio{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        position: relative;
        align-items:flex-start;
        left: 7px;
        bottom: 0px;
        margin-top: 9px;
    }
    #materias{
        background-color: var(--morado);
        border-radius: 8px;
        width: 200px;
        text-align: center;
        font-family:"roboto";
        overflow-y: scroll;
    }
    #agregarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 185px;
        border-color: transparent;
    }
    #eliminarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 185px;
        border-color: transparent;
        margin-top: 5%;
    }
    #aceptar{
        width: 185px;
        height: 10px;
        padding: 0px;
        padding-bottom: 10px;
        margin-left: 0px;
        font-size: 11px;
    }
    #abajo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:center;
        position: relative;
        left: 0%;
        margin-top: 10px;
    }
    #horarios{
        background-color: var(--carne);
        width: 185px;
        height: 30px;
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #horitas{
        margin-top: 2%;
        background-color: var(--carne);
        width: 185px;
        height: 100%;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row;
        align-items:flex-start;
        padding-left: 6%;
        font-size: 10px;
    }
    #mashorarios{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:center;
    }
    #botonhor{
        background-color: var(--carne);
        cursor: pointer;
        border-radius: 8px;
    }
    #Horariodia, #Horariohora{
        background-color: var(--carne);
        border-color: transparent;
        margin-top: 5%;
        border-radius: 8px;
    }
    #Horariohora,#botonhor, #Horariodia, #eliminarHorario{
        margin-left: 0px;
        width: 185px;
        background-color: var(--carne);
        border-color: transparent;
        border-radius: 8px;
    }
    #Horariohora,#botonhor,#eliminarHorario{
        margin-top: 10px;
    }
    #derecha{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items: flex-start;
        position: relative;
        left: 7px;
        bottom: 0px;
        margin-top: 0px;
    }
    #rosado{
       display: none;
    }
    #amarillos{
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        margin-bottom: 3px;
        left: 3px;
        margin-bottom: 20px;
    }
    #am1,#am2,#am3{
        margin-top: 4px;
        background-color: var(--amarillo);
        width: 185px;
        height: 15px;
        border-radius: 8px;
        text-align: center;
    }
    #administrar{
        background-color: var(--amarillo);
        position: relative;
        left: 83px;
        bottom: 96px;
        border-radius: 8px;
        text-align: center;
        font-family: 'roboto';
        padding-top: .5px;
        height: 15px;
        width: 50px;
    }
    #footer{
        position: relative;
        width: 100%;
    }
    /*= ----------------- MODAL -------------------------*/
    #mCreditos{
        display: none;
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:1;
        pointer-events:auto;
    }

    .modal-contenidouser{
        background-color:white;
        padding-bottom: 10px;
        margin: 2% auto;
        position: relative;
        height: 90%;
        width: 70%;
        border-radius: 11px;
        font-size: 15px;
        overflow-y: scroll;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 50px;
        border-radius: 11px;
    }

    #closeBtn{
        margin-left: 75%;
        color: var(--carne);
        cursor: pointer;
    }
    #modalcont
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
    }
    .card{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        height: 50%;
        justify-self: center;
    }
    .card > div:nth-child(1){
        width: 50%;
        height: 15%;
        padding:5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    span{
        font-family: 'roboto';
        font-size: 30px;
        padding-left: 10px;
    }

    .card p,h4{
        color: rgb(71, 68, 68);
    }
    .card h4
    {
        text-align: center;
        background-color: lightsteelblue;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        font-size: 18px;
    }
    .card p
    {
        text-align:justify;
        font-size: 15px;
    }
}
@media screen and (max-width: 800px){
    #contenido{
        font-size: 7px;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #img2{
        height: 29px;
        width: 29px;
        font-size: 7px;
    }
    #izquierda{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        padding-top: 0px;
        padding-left: 12px;
    }
    #miPerfil{
        width: 200px;
        height: 230px;
        background-color: var(--azul);
        border-radius: 8px;
        font-family:"roboto";
    }
    #mi, #img{
        font-size: 14px;

    }
    h4{
        padding-top: 4px;
        font-size: 10px;
    }
    #p1{
        font-size: 10px;
    }
    #azulitos{
        padding-top: 2px;
    }
    #calificacion,#comentarios,#cerrar{
        width: 200px;
        background-color: var(--azul);
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #medio{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        position: relative;
        align-items:flex-start;
        left: 7px;
        bottom: 0px;
        margin-top: 9px;
    }
    #materias{
        background-color: var(--morado);
        border-radius: 8px;
        width: 200px;
        text-align: center;
        font-family:"roboto";
        overflow-y: scroll;
        font-size: 12px;
    }

    #agregarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 185px;
        border-color: transparent;
    }
    #eliminarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 185px;
        border-color: transparent;
        margin-top: 5%;
    }
    #aceptar{
        width: 185px;
        height: 10px;
        padding: 0px;
        padding-bottom: 10px;
        margin-left: 0px;
        font-size: 10px;
    }
    #abajo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:center;
        position: relative;
        left: 0%;
        margin-top: 10px;
    }
    #horarios{
        background-color: var(--carne);
        width: 185px;
        height: 30px;
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #horitas{
        margin-top: 3%;
        background-color: var(--carne);
        width: 185px;
        height: 100%;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row;
        align-items:flex-start;
        padding-left: 6%;
        font-size: 10px;
    }
    #mashorarios{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:center;
    }
    #botonhor{
        background-color: var(--carne);
        cursor: pointer;
        border-radius: 8px;
    }
    #Horariodia, #Horariohora{
        background-color: var(--carne);
        border-color: transparent;
        margin-top: 5%;
        border-radius: 8px;
    }
    #Horariohora,#botonhor, #Horariodia, #eliminarHorario{
        margin-left: 0px;
        width: 185px;
        background-color: var(--carne);
        border-color: transparent;
        border-radius: 8px;
    }
    #Horariohora,#botonhor,#eliminarHorario{
        margin-top: 10px;
    }
    #derecha{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items: flex-start;
        position: relative;
        left: 0px;
        bottom: 0px;
        margin-top: 0px;
    }
    #rosado{
        display: none;
    }
    #amarillos{
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        margin-bottom: 3px;
        left: 3px;
        margin-bottom: 10px;
    }
    #am1,#am2,#am3{
        margin-top: 4px;
        background-color: var(--amarillo);
        width: 185px;
        height: 15px;
        border-radius: 8px;
        text-align: center;
    }
    #administrar{
        background-color: var(--amarillo);
        position: relative;
        left: 83px;
        bottom: 96px;
        border-radius: 8px;
        text-align: center;
        font-family: 'roboto';
        padding-top: .5px;
        height: 15px;
        width: 50px;
    }
    #footer{
        position: relative;
        width: 100%;
    }
    #cred
    {
       width: 300px; 
       color: coral;
    }
    /*= ----------------- MODAL -------------------------*/
    #mCreditos{
        display: none;
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:1;
        pointer-events:auto;
    }

    .modal-contenidouser{
        background-color:white;
        padding-bottom: 10px;
        margin: 2% auto;
        position: relative;
        height: 90%;
        width: 90%;
        border-radius: 11px;
        font-size: 15px;
        overflow-y: scroll;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 50px;
        border-radius: 11px;
    }

    #closeBtn{
        margin-left: 75%;
        color: var(--carne);
        cursor: pointer;
    }
    #modalcont
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
    }
    .card{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        height: 90%;
        justify-self: center;
    }
    .card > div:nth-child(1){
        width: 50%;
        height: 15%;
        padding:5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    span{
        font-family: 'roboto';
        font-size: 20px;
        padding-left: 5px;
    }

    .card p,h4{
        color: rgb(71, 68, 68);
    }
    .card h4
    {
        text-align: center;
        background-color: lightsteelblue;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .card p
    {
        text-align:justify;
    }
}
