 /* =NAV -------------------------------------------------- */
.nav a{
    display: flex;
    flex-direction: row;
    /*=justify-content: end;*/
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 1.2rem;
}

.nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: var(--azulF);
}
.link{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /*=justify-self: flex-end;*/
}
.link:hover{
    background-color:  var(--azulHover);
}
.nav div#tit
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
#log
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
i
{
    color: white;
}
#hamburguesa
{
    display: none;
}
 /* =PARTE ARRIBA -------------------------------------------------- */
 #arriba
 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
 }
 #arriba div{
    text-align: center;
    width: 66%;
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
}
#miPerfil
{
    background-color: var(--azul);
}
#misMaterias :nth-child(1), #misMaterias :nth-child(2), #misMaterias :nth-child(3)
{
    background-color: var(--morado);
}
#botones :nth-child(1), #botones :nth-child(2), #botones :nth-child(3), #botones :nth-child(4)
{
    background-color: var(--amarillo);
}
#misMaterias div, #botones div, #miPerfil div
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h2,h4, #botones p
{
    text-decoration: none;
    font-family: Roboto;
    color: rgb(63, 63, 63);
}
 /* =PARTE ABAJO -------------------------------------------------- */
 #abajo
 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
 }
 #abajo div{
    text-align: center;
    width: 100%;
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
}
#calif :nth-child(1), #calif :nth-child(2), #calif :nth-child(3)
{
    background-color: var(--azul);
}
#horario :nth-child(1), #horario :nth-child(3)
{
    background-color: var(--rosa);
}
#horario :nth-child(2)
{
    background-color: var(--amarillo);
}
/*=MEDIA QUERY}
---------------------------------------------------------------------*/
@media screen and (max-width: 1250px){

    /* =NAV
    -------------------------- */
        #hamburguesa{
            align-self: flex-end;
            justify-content: center;
            height: 50px;
            width: 50px;
            display: flex;
            color: white;
        }
        #hamburguesa:hover{
            background-color: transparent;
        }
        .nav{
            height: 250px;
            align-items: center;
            font-size: 1.2rem;
        }
        .nav{
            flex-direction: column;
        }
        .link{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbarMob
        {
            height: 50px;
        }
        .barraNMob
        {
            display: none;
        }
    /* =CARD GENERAL
    ------------------------ */
        #cont{
            flex-direction: column;
        }
    }