 /* =NAV -------------------------------------------------- */
.nav a{
    display: flex;
    flex-direction: row;
    /*=justify-content: end;*/
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 1.2rem;
}

.nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: var(--azulF);
}
.link{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /*=justify-self: flex-end;*/
}
.link:hover{
    background-color:  var(--azulHover);
}
.nav div#tit
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
#log
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
 /* =PARTE IZQUIERDA*/
#izquierda{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    padding-top: 1%;
    padding-left: 4%;
}
#miPerfil{
    width: 30%;
    height: 350%;
    background-color: var(--azul);
    border-radius: 8px;
    font-family:"roboto";
}
#mi, #img{
    text-align: center;
    font-family:"roboto";
}
h4{
    padding-top: 4%;
    font-size: 16px;
}
#p1{
    font-size: 21px;
}
#azulitos{
    padding-top: 2%;
}
#hamburguesa
{
    display: none;
}
 /* =PARTE ARRIBA -------------------------------------------------- */
 #arriba
 {
    width: 100%}
    
#calificacion,#comentarios,#cerrar{
    width: 400%;
    background-color: var(--azul);
    border-radius: 8px;
    text-align: center;
    font-family:"roboto";
}
#cerrar{
    cursor: pointer;
}
#medio{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    position: absolute;
    left: 45%;
    bottom: 47%;
}
#materias{
    background-color: var(--morado);
    border-radius: 8px;
    width: 320%;
    text-align: center;
    font-family:"roboto";
    height: 170px;
    overflow-y: scroll;
}
#agregarm{
    background-color: var(--morado);
    border-radius: 8px;
    width: 187%;
    border-color: transparent;
    margin-top: 20px;
}
#eliminarm{
    background-color: var(--morado);
    border-radius: 8px;
    width: 187%;
    border-color: transparent;
    margin-top: 5%;
}
#aceptar{
    background-color: var(--morado);
    border-radius: 8px;
    height: 30px;
    margin-top: 10px;
    margin-left: 70%;
    cursor: pointer;
}
#abajo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items:flex-start;
    position: absolute;
    left: 43%;
    bottom: 10%;
    height: 30%;
}
#horarios{
    background-color: var(--carne);
    width: 230%;
    height: 37px;
    border-radius: 8px;
    text-align: center;
    font-family:"roboto";
}
#horitas{
    margin-top: 5%;
    background-color: var(--carne);
    width: 270%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-items:flex-start;
    padding-left: 50%;
}
#botonhor{
    background-color: var(--carne);
    display: none;
}
#Horariodia, #Horariohora{
    background-color: var(--carne);
    border-color: transparent;
    margin-top: 5%;
}
#derecha{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    position: absolute;
    left: 77%;
    bottom: 42%;
}
#rosado{
    background-color: var(--rosa);
    width: 60%;
    border-radius: 8px;
    font-family: 'roboto';
}
#amarillos{
    margin-top: 6%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
#am1,#am2,#am3{
    margin-top: 4%;
    background-color: var(--amarillo);
    width: 60%;
    border-radius: 8px;
    text-align: center;
}
#administrar{
    background-color: var(--amarillo);
    position: absolute;
    left: 69%;
    bottom: 34%;
    border-radius: 8px;
    text-align: center;
    font-family: 'roboto';
    padding-top: .5%;
}

/*=ADAPTABILIDAD
---------------------------------------------*/
@media screen and (max-width: 1200px){
    #contenido{
        font-size: 11px;
    }
    #img2{
        height: 33%;
        width: 33%;
        font-size: 7px;
    }
    #izquierda{
        padding-top: 1%;
        padding-left: 23%;
    }
    #miPerfil{
        width: 32%;
        height: 100%;
    }
    #mi, #img{
        font-size: 14px;

    }
    h4{
        padding-top: 4px;
        font-size: 12px;
    }
    #azulitos{
        padding-top: 20px;
    }
    #calificacion,#comentarios,#cerrar{
        width: 360%;
        background-color: var(--azul);
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
        height: 30px;
        margin-top: 10px;
    }
    #medio{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        position: absolute;
        left: 50%;
        bottom: 36%;
    }
    #materias{
        background-color: var(--morado);
        border-radius: 8px;
        width: 215px;
        text-align: center;
        font-family:"roboto";
        overflow-y: scroll;
    }
    #agregarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 210%;
        border-color: transparent;
    }
    #eliminarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 192%;
        border-color: transparent;
        margin-top: 5%;
    }
    #aceptar{
        margin-left: 45%;
    }
    #abajo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        position: absolute;
        left: 50%;
        bottom: 15%;
        height: 20%;
    }
    #horarios{
        background-color: var(--carne);
        width: 180%;
        height: 35px;
        padding-top: 0%;
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #horitas{
        margin-top: 5%;
        background-color: var(--carne);
        width: 230%;
        height: 80%;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row;
        align-items:flex-start;
        padding-left: 50%;
    }
    #Horariodia, #Horariohora{
        background-color: var(--carne);
        border-color: transparent;
        margin-top: 5%;
    }
    #derecha{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        position: absolute;
        left: 23%;
        bottom: -3%;
    }
    #rosado{
       display: none;
    }
    #amarillos{
        margin-top: 6%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
    }
    #am1,#am2,#am3{
        margin-top: 4%;
        background-color: var(--amarillo);
        width: 210%;
        border-radius: 8px;
        text-align: center;
        height: 20px;
    }
    #administrar{
        background-color: var(--amarillo);
        position: absolute;
        left: 70%;
        bottom: 30%;
        border-radius: 8px;
        text-align: center;
        font-family: 'roboto';
        height: 23px;
    }
    #footer{
        margin-top: 10%;
    }
}
@media screen and (max-width: 800px){
    #contenido{
        font-size: 7px;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #img2{
        height: 29px;
        width: 29px;
        font-size: 7px;
    }
    #izquierda{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        padding-top: 0px;
        padding-left: 12px;
    }
    #miPerfil{
        width: 200px;
        height: 180px;
        background-color: var(--azul);
        border-radius: 8px;
        font-family:"roboto";
    }
    #mi, #img{
        font-size: 14px;

    }
    h4{
        padding-top: 4px;
        font-size: 10px;
    }
    #p1{
        font-size: 10px;
    }
    #azulitos{
        padding-top: 2px;
    }
    #calificacion,#comentarios,#cerrar{
        width: 200px;
        background-color: var(--azul);
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
    }
    #medio{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        position: relative;
        align-items:flex-start;
        left: 7px;
        bottom: 0px;
        margin-top: 9px;
    }
    #materias{
        background-color: var(--morado);
        border-radius: 8px;
        width: 200px;
        text-align: center;
        font-family:"roboto";
        overflow-y: scroll;
    }
    #agregarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 200px;
        border-color: transparent;
    }
    #eliminarm{
        background-color: var(--morado);
        border-radius: 8px;
        width: 200px;
        border-color: transparent;
        margin-top: 5%;
    }
    #abajo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items:flex-start;
        position: relative;
        left: 7px;
        bottom: 0px;
        height: 30px;
        margin-top: 5px;
    }
    #horarios{
        background-color: var(--carne);
        width: 150px;
        height: 14px;
        border-radius: 8px;
        text-align: center;
        font-family:"roboto";
        margin-top: 3px;
    }
    #horitas{
        margin-top: 5px;
        background-color: var(--carne);
        width: 200px;
        height: 100px;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row;
        align-items:flex-start;
        padding-left: 50px;
    }
    #Horariodia, #Horariohora{
        background-color: var(--carne);
        border-color: transparent;
        margin-top: 5px;
    }
    #derecha{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        align-items: flex-start;
        position: relative;
        left: 7px;
        bottom: 0px;
    }
    #rosado{
        display: none;
    }
    #amarillos{
        margin-top: 9px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        margin-bottom: 3px;
        left: 3px;
    }
    #am1,#am2,#am3{
        margin-top: 4px;
        background-color: var(--amarillo);
        width: 200px;
        height: 15px;
        border-radius: 8px;
        text-align: center;
    }
    #administrar{
        background-color: var(--amarillo);
        position: relative;
        left: 83px;
        bottom: 96px;
        border-radius: 8px;
        text-align: center;
        font-family: 'roboto';
        padding-top: .5px;
        height: 15px;
        width: 50px;
    }
    #footer{
        position: relative;
        width: 100%;
    }
}
