body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#miModal{
    display: none;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:auto;
}

.modal-contenidouser{
    background-color:white;
    width:max-content;
    height: max-content;
    padding-bottom: 10px;
    margin: 7% auto;
    position: relative;
    border-radius: 10px;
}

#modalhead{
    display: flex;
    align-items: center;
    background-color:cyan; 
    
}

#closeBtn{
    margin-left: 73%;
    color: blue;
    cursor: pointer;
}

label{
    margin-left: 10px;
    margin-right: 10px;
}




