/* =NAV -------------------------------------------------- */
.nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: var(--azulF);
}
.nav div#tit
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
/*= ----------------- FORMS -------------------------*/
#forms
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    height: 50%;
    /*=display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    width: 50%;
    height: 90%;

    padding: 2%;*/
}
#inicio h1
{
    text-align: center;
}
#numerocuenta
{
    width: 60%;
    height: 40px;
    padding: 2px;
    margin-bottom: 5px;
}
#labels
{
    text-align: center;
}
#contra
{
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
}
button
{
    border: none;
}
#botonIni
{
    background-color:var(--morado);
    margin-bottom: 5px;
    border-radius: 8px;
    align-self: center;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 10%;
    cursor:pointer;
}
#forms p
{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 35%;
}
#crearCuenta
{
    font-family: Roboto, sans-serif;
    color: blue;
    background-color:transparent;
    position: absolute;
    top: 10%;
    text-decoration: underline;
    cursor:pointer;
}
/*= ----------------- MODAL -------------------------*/
#miModal{
    display: none;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:auto;
}

.modal-contenidouser{
    background-color:white;
    width:max-content;
    height: max-content;
    padding-bottom: 10px;
    margin: 2% auto;
    position: relative;
    height: 600px;
    width: 800px;
    border-radius: 11px;
}

#modalhead{
    display: flex;
    align-items: center;
    background-color: var(--azul);
    height: 50px;
    border-radius: 11px;
}

#closeBtn{
    margin-left: 80%;
    color: var(--carne);
    cursor: pointer;
}

label{
    margin-left: 10px;
    margin-right: 10px;
}
span{
    font-family: 'roboto';
    font-size: 18px;
    padding-left: 5px;
}
input{
    background-color: #F1EFE3;
    height: 45px;
    border-radius: 8px;
}
select{
    background-color: #F1EFE3;
    height: 45px;
    border-radius: 8px;
}
p{
    color: rgb(71, 68, 68);
}
#nombre, #numcuenta, #apPaterno, #apMaterno, #correo,#mes,#año,#dia,#cursando,#HorarioHora,#contraseña,#enviar,#materias,#tel,#fecha,#HorarioDia,#horarios,#caracteres{
    position: absolute;
}
#nombre, #apPaterno, #apMaterno{
   bottom: 77%;
}
#nombre{
    left: 14%;
}
#apPaterno{
    left:40%;
}
#apMaterno{
    left:66%;
}
#numcuenta,#tel{
    bottom: 67%;
    width: 35%;
}
#numcuenta{
    left:14%;
}
#tel{
    left:51.3%;
}
#correo{
    bottom: 57%;
    left: 14%;
    width: 72.4%;
}
#fecha{
    bottom: 50%;
    left: 14%;
}
#dia,#mes{
    bottom: 44%;
    width: 17%;
}
#dia{
    left: 14%;
}
#mes{
    left: 33.5%;
}
#año{
    bottom: 34%;
    left: 14%;
    width: 36.6%;
}
#cursando{
    width: 33%;
    bottom: 46%;
    left: 54.5%;
}
#contraseña{
    width: 32%;
    bottom: 35%;
    left: 54.5%;
}
#caracteres{
    bottom: 21.5%;
    width: 35.3%;
    height: 11%;
    font-size: small;
    left: 54.5%;
}
#materias{
    width: 33%;
    bottom: 21%;
    left: 54.5%;
}
#horarios{
    bottom: 27%;
    left: 14%;
}
#HorarioHora{
    bottom: 21%;
    left: 28%;
}
#HorarioDia{
    bottom: 21%;
    left: 14%;
}
#enviar{
    left: 14%;
    width: 75%;
    background-color: var(--morado);
    height: 6%;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    bottom: 70px;
}
@media screen and (max-width: 1200px){
    body{
        font-family: 'roboto';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .modal-contenidouser{
        background-color:white;
        width:max-content;
        height: max-content;
        padding-bottom: 10px;
        margin: 2% auto;
        position: relative;
        height:320px;
        width: 320px;
        border-radius: 11px;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 30px;
        border-radius: 11px;
    }

    #closeBtn{
        margin-left: 90%;
        color: var(--carne);
        cursor: pointer;
    }

    label{
        margin-left: 10px;
        margin-right: 10px;
    }
    span{
        font-family: 'roboto';
        font-size: 15px;
        padding-left: 3px;
        position: absolute;
    }
    input{
        background-color: #F1EFE3;
        height: 22px;
        border-radius: 8px;
        font-size: 10px;
    }
    select{
        background-color: #F1EFE3;
        height: 22px;
        border-radius: 8px;
        font-size: 8px;
    }
    p{
        color: rgb(71, 68, 68);
    }
    #nombre, #numcuenta, #apPaterno, #apMaterno, #correo,#mes,#año,#dia,#cursando,#HorarioHora,#contraseña,#enviar,#materias,#tel,#fecha,#HorarioDia,#horarios,#caracteres{
        position: absolute;
    }
    #nombre, #apPaterno, #apMaterno{
       bottom: 79%;
       width: 30%;
    }
    #nombre{
        left: 16%;
    }
    #apPaterno{
        left:52%;
    }
    #apMaterno{
        left:16%;
        bottom: 69%;
    }
    #numcuenta,#tel{
        bottom: 69%;
        width: 30%;
    }
    #numcuenta{
        left:52%;
    }
    #tel{
        bottom: 59%;
        left:16%;
    }
    #correo{
        bottom: 59%;
        left: 52%;
        width: 30%;
    }
    #fecha{
        bottom: 50.3%;
        left: 32%;
        font-size: 13px;
    }
    #dia,#año,#mes{
        bottom: 45.4%;
        width: 17%;
    }
    #dia{
        left: 16%;
    }
    #año{
        left: 64.3%;
    }
    #mes{
        left: 40.2%;
    }
    #cursando{
        width: 33.2%;
        bottom: 36%;
        left: 52%;
    }
    #contraseña{
        width: 30%;
        bottom: 36%;
        left: 16%;
    }
    #caracteres{
        bottom: 22%;
        width: 36%;
        height: 11%;
        font-size: 7px;
        left: 16%;
    }
    #materias{
        width: 33.2%;
        bottom: 27%;
        left: 52%;
    }
    #horarios{
        bottom: 15%;
        left: 30%;
        font-size: 13px;
    }
    #HorarioHora{
        bottom: 12%;
        left: 54%;
    }
    #HorarioDia{
        bottom: 12%;
        left: 30%;
    }
    #enviar{
        left: 14%;
        width: 75%;
        background-color: var(--morado);
        height: 6%;
        border-radius: 8px;
        border-color: transparent;
        cursor: pointer;
        bottom: 10px;
    }
}
@media screen and (max-width: 800px){
    .modal-contenidouser{
        background-color:white;
        width:max-content;
        height: max-content;
        padding-bottom: 10px;
        margin: 1% auto;
        position: relative;
        height:350px;
        width: 220px;
        border-radius: 11px;
    }

    #modalhead{
        display: flex;
        align-items: center;
        background-color: var(--azul);
        height: 25px;
        border-radius: 10px;
    }
    #closeBtn{
        margin-left: 90%;
        color: var(--carne);
        cursor: pointer;
    }

    label{
        margin-left: 10px;
        margin-right: 10px;
    }
    span{
        font-family: 'roboto';
        font-size: 15px;
        padding-left: 3px;
        position: absolute;
    }
    input{
        background-color: #F1EFE3;
        height: 15px;
        border-radius: 8px;
        font-size: 8px;
    }
    select{
        background-color: #F1EFE3;
        height: 15px;
        border-radius: 8px;
        font-size: 8px;
    }
    p{
        color: rgb(71, 68, 68);
    }
    #nombre, #numcuenta, #apPaterno, #apMaterno, #correo,#mes,#año,#dia,#cursando,#HorarioHora,#contraseña,#enviar,#materias,#tel,#fecha,#HorarioDia,#horarios,#caracteres{
        position: absolute;
    }
    #nombre, #apPaterno, #apMaterno{
       width: 38%;
       left: 30%;
    }
    #nombre{
      bottom: 86%;
    }
    #apPaterno{
        bottom: 79.4%;
    }
    #apMaterno{

        bottom: 73%;
    }
    #numcuenta,#tel,#correo,#contraseña{
        left: 30%;
        width: 38%;
    }
    #numcuenta{
        bottom: 66.5%;
    }
    #tel{
        bottom: 60%;
    }
    #correo{
        bottom: 53.6%;
    }
    #fecha{
        bottom: 45%;
        left: 26%;
        font-size: 13px;
    }
    #dia,#año,#mes{
        bottom: 42.3%;
        width: 17%;
    }
    #dia{
        left: 16%;
    }
    #año{
        left: 64.3%;
    }
    #mes{
        left: 40.2%;
    }
    #cursando{
        width: 40%;
        bottom: 37.3%;
        left: 30%;
    }
    #contraseña{
        bottom: 17%;
    }
    #caracteres{
        bottom: 3%;
        width: 70%;
        height: 11%;
        font-size: 7px;
        left: 20%;
    }
    #materias{
        width: 41%;
        bottom: 32%;
        left: 30%;
    }
    #horarios{
        bottom: 24.5%;
        left: 19%;
        font-size: 13px;
    }
    #HorarioHora{
        bottom: 23.5%;
        left: 54%;
        width: 50px;
    }
    #HorarioDia{
        bottom: 23.5%;
        left: 25%;
        width: 50px;
    }
    #enviar{
        left: 14%;
        width: 75%;
        background-color: var(--morado);
        height: 6%;
        border-radius: 8px;
        border-color: transparent;
        cursor: pointer;
        bottom: 10px;
    }
}
