<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
        <script src="../libs/jquery/jquery-3.6.0.min.js" charset="utf-8"></script>
        <script src="../dynamics/js/usuarios.js" charset="utf-8"></script>
        <title>Administrar</title>
    </head>
    <body>
        <table border='1'>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>No.cuenta</th>
                    <th>Correo</th>
                    <th>Grado</th>
                    <th>Strikes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </body>
</html>
