<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
        <link rel="stylesheet" href="../statics/styles/basics.css">
        <link rel="stylesheet" href="../statics/styles/coment.css">
        <script src="../libs/jquery/jquery-3.6.0.min.js" charset="utf-8"></script>
        <script src="../dynamics/js/coment.js" charset="utf-8"></script>
        <title>Comentarios</title>
    </head>
    <body>
        <nav class="nav">
            <div id="tit">COYOLESSONS</div>
            <div id="hamburguesa"><i class="fa fa-bars fa-2x"></i></div>
                 <div class="link"><a href="../index.html">Principal</a></div>
                 <div class="link"><a href="./MiPerfil.html">Perfil</a></div>
                 <div class="link" id="administrar"><a href="./admin.html">Administrar</a></div>
                 <div class="link"><i class="fas fa-paint-roller"></i></div>
         </nav>
         <div id="cont_comentarios">
             <table border="1">
                 <thead>
                     <tr>
                         <th>Asesor</th>
                         <th>Materia</th>
                         <th>Tema</th>
                         <th>Modalidad</th>
                         <th>Medio</th>
                         <th>Horario</th>
                         <th>Fecha</th>
                         <th>Comentar</th>
                         <th>Reportar</th>
                     </tr>
                 </thead>
                 <tbody>
                    
                 </tbody>
             </table>
         </div>
    </body>
</html>
