<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/MiPerfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
    <title>Mi perfil</title>
</head>
<body>
    <div id="cont">
        <!-- navbar -->
        <nav class="nav">
           <div id="tit">COYOLESSONS</div>
                <div id="hamburguesa"><i class="fa fa-bars fa-2x"></i></div>
                <div class="link"><a href="#firstBanner">Principal</a></div>
                <div class="link"><a href="#features">Perfil</a></div>
                <div class="link"><a href="#team">Administrar</a></div>
                <div class="link"><i class="fas fa-paint-roller"></i></div>
            
        </nav>
         <!-- contenido -->
            <!-- arriba -->
            <div id="arriba">
                <div id="miPerfil">
                    <h2>Mi Perfil</h2>
                    <div id="img"><img src="../statics/img/user/user.png" alt="Foto de perfil" height="140px" width="140px"></div>
                    <h4>Nombre:</h4>
                    <h4>No. Cuenta:</h4>
                    <h4>Correo:</h4>
                    <h4>Año que cursas:</h4>
                </div>
                <div id="misMaterias">
                    <div><h2>Mis Materias</h2></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="botones">
                    <div><h4>¡Hey! Bienvenido a COYOLESSONS. 
                        Aquí podrás manejar tus horarios
                        y las materias que puedes enseñar.</h4></div>
                    <div><p>Mis asesorías</p></div>
                    <div><p>Mis clases</p></div>
                    <div><p>Historial de asesorías</p></div>
                </div>
            </div>
            <!-- abajo -->
            <div id="abajo">
                <div id="calif">
                    <div>Calificaciones</div>
                    <div>Comentarios</div>
                    <div>Cerrar sesión</div>
                </div>
                <div id="horario">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
    </div>
    <script src="../dynamics/js/MiPerfil.js"></script>
</body>
</html>