<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/Logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/MiPerfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
    <title>Mi perfil</title>
</head>
<body>
    <nav class="nav">
        <div id="tit">COYOLESSONS</div>
             <div id="hamburguesa"><i class="fa fa-bars fa-2x"></i></div>
             <div class="link"><a href="#firstBanner">Principal</a></div>
             <div class="link"><a href="#features">Perfil</a></div>
             <div class="link"><a href="#team">Administrar</a></div>
             <div class="link"><i class="fas fa-paint-roller"></i></div>
     </nav>
    <!-- contenido -->
    <div id="contenido">
        <div id="izquierda">
            <div id="miPerfil">
                <h2 id="mi">Mi Perfil</h2>
                <div id="img"><img src="../statics/img/user/user.png" alt="Foto de perfil" height="140px" width="140px" id="img2"></div>
                <h4 id="nombre_usuario">Nombre: </h4>
                <h4 id="no_cuenta">No. Cuenta: </h4>
                <h4 id="tel">Teléfono: </h4>
                <h4 id="correo_usuario">Correo: </h4>
                <h4 id="cursando">Año que cursas: </h4>
            </div>
            <div id="azulitos">
                <div id="calificacion"><h4>Mi calificación</h4></div>
                <div id="comentarios"><h4>Comentarios</h4></div>
                <div id="cerrar"><h4>Cerrar sesión</h4></div>
            </div>
        </div>
        <div id="medio">
            <div id="moradito">
                <div id="materias"><h4>Mis Materias</h4></div>
            </div>
            <label for="agregarm">
                <select name="agregarm" id="agregarm">
                    <option selected disabled hidden><p>Agregar materia</p></option>
                </select>
            </label>
            <label for="eliminarm">
                <select name="eliminarm" id="eliminarm">
                    <option selected disabled hidden><p>Eliminar materia</p></option>
                </select>
            </label>
            <div id="aceptar"><p>Aceptar</p></div>
        </div>
        <div id="abajo">
            <div id="horarios"><h4>Mis horarios</h4></div>
            <div id="horitas">
            </div>
            <div>
                <select name="horario" id="Horariodia" class="horarioSelect" required>
                    <option selected disabled><p>Día</p></option>
                    <option value="L">Lunes</option>
                    <option value="Ma">Martes</option>
                    <option value="Mi">Miércoles</option>
                    <option value="J">Jueves</option>
                    <option value="V">Viernes</option>
                </select>
                <select name="horario" id="Horariohora" class="horarioSelect" required>
                    <option selected disabled hidden><p>Hora</p></option>
                    <option value="1">7:50-8:40</option>
                    <option value="2">8:40-9:30</option>
                    <option value="3">9:30-10:20</option>
                    <option value="4">10:20-11:10</option>
                    <option value="5">11:10-12:00</option>
                    <option value="6">12:00-12:50</option>
                    <option value="7">12:50-13:40</option>
                    <option value="8">13:40-14:30</option>
                    <option value="9">14:30-15:20</option>
                    <option value="10">15:20-16:10</option>
                    <option value="11">16:10-17:00</option>
                    <option value="12">17:00-17:50</option>
                    <option value="13">17:50-18:40</option>
                    <option value="14">18:40-19:30</option>
                </select>
                <button id="botonhor">Aceptar</button>
            </div>
        </div>
        <div id="derecha">
            <div id="rosado"><p>¡Hey! Bienvenido a COYOLESSONS. Aquí podrás manejar tus horarios y las materias que puedas enseñar.</p></div>
            <div id="amarillos">
                <div id="am1"><p>Mis asesorías</p></div>
                <div id="am2"><p>Mis clases</p></div>
                <div id="am3"><p>Historial de asesorías</p></div>
            </div>
    </div>
    <div id="administrar"><p>Administrar</p></div>
        <div id="footer"><p>CRÉDITOS</p></div>
    <script src="../dynamics/js/MiPerfil.js"></script>
</body>
</html>
