<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/MiPerfil.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
    <title>Mi perfil</title>
</head>
<body>
    <div id="cont">
        <!-- navbar -->
        <div id="nav">
            <div id="tit">COYOLESSONS</div>
            <div id="links">
                <div class="link"><a href="#firstBanner">Principal</a></div>
                <div class="link"><a href="#features">Perfil</a></div>
                <div class="link"><a href="#team">Administrar</a></div>
                <div class="link"><i class="fas fa-paint-roller"></i></div>
            </div>
        </div>
    </div>
</body>
</html>