<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/registro.css">
    <link rel="stylesheet" href="../statics/styles/MisAsesorias.css">
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
    <script src="../dynamics/js/MisAsesorias.js"></script>
    <title>Mis asesorías</title>
</head>
<body>
    <button id="botonAsesoria">Crear Asesoria</button>
    <div id='miModal'>
        <div class='modal-contenidouser'>
            <div id="modalhead">
                <span><strong>Crear Asesoría</strong></span> <!---Titulo del modal--->
                <i id ="closeBtn" class="fas fa-times-circle fa-2x"></i>
            </div>
            <div id="modalcont">
                <form id="crearAsesoria" method="POST">
                    <label for="materias">Materias
                        <select name="materias" id="materias">
                            <option selected value="" hidden><p>Materias a impartir</p></option>
                        </select>
                    </label>
                    <label for="tema">Tema
                        <input type="text" id="tema" name="tema" placeholder="Tema">
                    </label>
                    <br><br>
                    <label for="modalidad">Modalidad
                        <select name="modalidad" id="modalidad">
                            <option value="L"><p>En línea</p></option>
                            <option value="P"><p>Presencial</p></option>
                        </select>
                    </label>
                    <label>Medio
                        <input type="text" id="medio" name="medio" placeholder="Lugar o liga">
                    </label>
                    <br><br>
                    <label for="horario">Horario
                        <select id="horario">
                            <option value="" selected>Seleccionar horario</option>
                        </select>
                    </label>
                    <label for="cupo">
                        <select name="cupo" id="cupo">
                            <option selected value="" hidden>Selecciona el cupo</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </label>
                    <label for="duracion">Duración
                        <select id="duracion">
                            <option value="1"><p>50 min</p></option>
                            <option value="2"><p>100 min</p></option>
                        </select>
                    </label>
                    <br><br>
                    <label for="fecha">Fecha
                        <input type="date" id="fecha">
                    </label>
                    <button type="submit" id="enviar">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <table border='1'>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Tema</th>
                    <th>Modalidad</th>
                    <th>Medio</th>
                    <th>Horario</th>
                    <th>Cupo</th>
                    <th>Duración</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</body>
</html>
