<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/registro.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <script src="../libs/jquery/jquery-3.6.0.min.js"></script>
    <title>Registro</title>
</head>
<body>
    <button id="crearCuenta">Registrarse</button>
    <div id='miModal'>
        <div class='modal-contenidouser'>
            <div id="modalhead">
                <span>Crear Cuenta</span>
                <i id ="closeBtn" class="fas fa-times-circle fa-2x"></i>
            </div>
            <p id="modalcont">
                <form id="cuenta" method="POST">
                    <label for="numcuenta">Numero de cuenta
                        <input id="numcuenta" type="text" name="numcuenta" placeholder="No. Cuenta" pattern='^((3(19|20|21))|(1(16|17|18)))\d{6}$' title="Introduce un número de cuenta válido" autocomplete="off" required>
                    </label>
                    <br><br>
                    <label for="nombre">Nombre
                        <input id="nombre" type="text" name="nombre" placeholder="Nombre(s)" pattern="([A-Z,a-z,Ññ,á,é,í,ó,ú,Á,É,Í,Ó,Ú](\s)?){2,30}" title="Ingresa tu(s) nombre(s)" required>
                    </label>
                    <br><br>
                    <label for="apPaterno">Apellido paterno
                        <input id="apPaterno" type="text" name="apPaterno" placeholder="Apellido paterno" pattern="^([A-Z,a-z,Ññ,á,é,í,ó,ú,Á,É,Í,Ó,Ú]){2,30}$" title="Introduce tu apellido paterno" required>
                    </label>
                    <br><br>
                    <label for="apMaterno">Apellido materno
                        <input id="apMaterno" type="text" name="apMaterno" placeholder="Apellido materno" pattern="^([A-Z,a-z,Ññ,á,é,í,ó,ú,Á,É,Í,Ó,Ú]){2,30}$" title="Introduce tu apellido materno" required>
                    </label>
                    <br><br>
                    <label for="correo">Correo electrónico
                        <input id="correo" type="text" name="correo" placeholder="Correo electrónico" 
                        pattern="^[\w\.\-]{4,28}@(((g|hot)mail|outlook|live)\.com|(comunidad|alumno\.enp|enp)\.unam\.mx)|\.mx$" 
                        title="Introduce un correo válido" required>
                    </label>
                    <br><br>
                    <label for="tel">Teléfono
                        <input id="tel" type="numer" name="tel" placeholder="Teléfono" pattern="^((55|56)(\d{8}))$" title="Introduce tu número telefónico" required>
                    </label>
                    <br><br>
                    <label for="fecha">Fecha de nacimiento
                        <label for="dia">Día
                            <input id="dia" name="dia" placeholder="dd" type="number" min="1" max="31" required>
                        </label>
                        <label for="mes">Mes
                            <input id="mes" name="mes" placeholder="mm" type="number" min="1" max="12" required>
                        </label>
                        <label for="año">Año
                            <input id="año" name="año" placeholder="YYYY" type="number" min="1990" max="2005" required>
                        </label>
                    </label>
                    <br><br>
                    <label for="cursando">
                        <select name="año" id="cursando" required>
                            <option selected disabled hidden>Año que cursas actualmente</option>
                            <option value='C'>4to</option>
                            <option value='Q'>5to</option>
                            <option value='S'>6to</opt6on>
                        </select>
                    </label>
                    <br><br>
                    <label for="materias">Materias a impartir
                        <select name="materias" id="materias" required></select>
                    </label>
                    <br><br>
                    <label for="horario">Horario de disponibilidad
                        <select name="horario" id="HorarioDia" required>
                            <option selected disabled>Día</option>
                            <option value="L">Lunes</option>
                            <option value="Ma">Martes</option>
                            <option value="Mi">Miércoles</option>
                            <option value="J">Jueves</option>
                            <option value="V">Viernes</option>
                        </select>
                        <select name="horario" id="HorarioHora" required>
                            <option selected disabled hidden>Hora</option>
                        </select>
                    </label>
                    <br><br>
                    <label for="contraseña">Contraseña
                        <input id="contraseña" name="contraseña" type="password" 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$#@$!\(\)/%=*?&])([A-Za-z\d$#@$!\(\)/%=*?&]|[^ ]){10,30}$" 
                        title="Introduce una contraseña de 10 a 30 caracteres, con al menos un caracter especial, un número, una minúscula y una mayúscula" required>
                        <p class="legenda">Mímino 10 caracteres con al menos una mayúscula, una minúscula, un numero y un caracter especial.</p>
                    </label>
                    <br><br>
                    <button>Enviar</button>
                </form>
            </p>
        </div>
    </div>
    <script src="../dynamics/js/modal.js"></script>
</body>
</html>
